.container {
  section {
    padding: 0;
    margin: 0 auto;
  }

  .post-teaser-img {
    overflow: hidden;
    img {
      border-radius: 5px;
    }
  }

  .posts {
    margin: 7rem 0;
    section {
      margin-bottom: 8vh;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }
    p {
      font-size: 1.18rem;
    }
  }
}
