.post-title {
  font-size: 2.25rem;
  margin: 7rem 0 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 3px;
    background: #333;
    width: 100px;
    display: block;
    bottom: -15px;
    border-radius: 3px;
  }
}

.post-meta {
  font-family: $header-font-family;
  font-size: 0.95rem;
  // margin: 0 0 3rem;
  color: $grey-light;
  letter-spacing: -0.04rem;
}

.post-content {
  margin: 3rem 0 0;

  h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, 0.5);
  }
  p {
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
  }
}

.post-cover {
  max-height: 50vh;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 10px 15px rgba(0,0,0,0.12);
  img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  margin-bottom: 2rem;
  display: block;
}
