@include until(765px) {
  .container section {
    padding: 0 6vw;
  }

  .site-footer {
    padding: 2rem 6vw;
  }

  .container .posts h2 {
    font-size: 1.4rem;
  }

  .container .posts .lang-te h2 {
    font-size: 1.6rem;
  }

  .post-title {
    font-size: 1.8rem;
    margin: 6rem 0 2rem;
  }

  // Typography
  blockquote {
    padding: 0;
    &:before {
      left: -40px;
      top: -34px;
    }
  }

}
