$telugu-font: 'Mandali', sans-serif;


.lang-te {
  font-family: $telugu-font;
  p {
    font-family: $telugu-font;
    font-size: 1.2rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $telugu-font;
  }
  ol, ul, li {
    font-family: $telugu-font;
    font-size: 1.35rem;
  }
  .post-title {
    font-size: 2.5rem
  }
}

.container .posts .lang-te {
  h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
