---
layout: base
---
<article class="lang-{{page.language}}">
    <div class="container">
        <section role="article">
            <h2 class="post-title" role="title">{{page.title}}</h2>
            <div class="post-meta" role="meta">
                <time>{{ page.date | date: '%B %d, %Y' }}</time> &mdash;
                <span>{{ page.content | reading_time }}</span>
            </div>
            <main class="post-content">
                {% if page.cover %}
                <div class="post-cover">
                    <img src="{{page.cover}}" alt="{{page.title}}">
                </div>
                {% endif %}
                {{ content }}
            </main>
        </section>
        {% if site.inc.disqus.shortname %}
        <section>
            {% include_file styleguide.websiddu.com/_includes/_disqus.html %}
        </section>
        {% endif %}
    </div>
</article>

